.footer {
  padding: 50px 0 35px 0;
  background-color: #f3f3f3;

  &__wrap {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet {
      gap: 25px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    width: 100%;
    max-width: 220px;
    display: flex;
    flex-direction: column;

    @include tablet {
      max-width: 100%;
      align-items: center;
      padding: 0 0 25px 0;
      border-bottom: 1px solid #d9d9d9;
    }
  }

  &__leftSub {
    max-width: 175px;
    margin-top: 10px;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #58595b;
  }

  &__leftRev {
    width: 217px;
    height: 73px;
    margin-bottom: 25px;
  }

  &__leftP {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #58595b;
  }

  &__navs {
    display: flex;
    gap: 70px;

    @include tablet {
      align-items: center;
      width: 100%;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      border-bottom: 1px solid #d9d9d9;
    }

    @include mobile {
      justify-content: inherit;
    }
  }

  &__nav {
    width: 100%;
    max-width: 230px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;

    @include tablet {
      margin: 0;
      padding-bottom: 25px;
      max-width: 100%;
    }
  }

  &__navTitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #58595b;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mobile {
      flex-direction: unset;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
    }

    li a {
      white-space: nowrap;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #58595b;
    }
  }

  &__info {
    display: flex;
    width: 100%;
    max-width: 270px;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    @include tablet {
      align-items: center;
    }
  }

  &__infoAdress {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: right;
    color: #58595b;
  }

  &__infoCart {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: #58595b;
  }

  &__infoTel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: right;
    color: #58595b;
  }

  &__infoEmail {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: #58595b;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 28px;
  }

  &__hr {
    margin: 45px 0 25px 0;
    border: none;
    height: 1px;
    background: #d9d9d9;
  }

  &__foot {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    @include small-tablet {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__footPay {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__footP {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #58595b;
  }

  &__footLink {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #58595b;
  }

  &__footPay {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
