.quest {
  margin: 60px 0 75px 0;

  @include small-tablet {
    margin: 40px 0;
  }

  &__wrap {
    display: flex;
    gap: 60px;

    @include small-tablet {
      flex-direction: column;
      gap: 45px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    width: calc(50% - 30px);

    @include small-tablet {
      width: 100%;
      gap: 30px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 48px;
    color: #58595b;

    @include small-tablet {
      font-size: 28px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #58595b;

    @include small-tablet {
      font-size: 18px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    color: #58595b;
    margin-bottom: 35px;

    img {
      min-width: 36px;
      min-height: 36px;
      border-radius: 18px;
      border-radius: 18px;
      background: linear-gradient(180deg, #ff852b 0%, #ff581f 100%);
    }
  }

  &__socials {
    display: flex;
    gap: 16px;
    align-items: center;

    a {
      width: 36px;
      height: 36px;
    }
  }

  &__form {
    width: calc(50% - 30px);
    padding: 60px 45px 50px 50px;
    border-radius: 24px;
    background-color: #f3f3f3;

    @include small-tablet {
      width: 100%;
      padding: 30px 25px 40px 30px;
    }
  }

  &__formTitle {
    margin-bottom: 35px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    color: #58595b;

    @include small-tablet {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  &__formInputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 32px;
  }

  &__formInput {
    padding-bottom: 12px;
    border: none;
    border-bottom: 1px solid#58595b;
    outline: none;
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #58595b;

    &::placeholder {
      color: #58595b;
    }
  }

  &__checkBlock {
    margin-bottom: 20px;

    .custom-checkbox {
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;
    }

    input {
      display: none;
    }

    .checkbox-box {
      width: 20px;
      height: 20px;
      border: 1px solid #cccaca;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      transition: 0.2s ease;
    }

    .checkbox-box svg {
      opacity: 0;
      transform: scale(0.7);
      transition: 0.2s ease;
    }

    input:checked + .checkbox-box svg {
      opacity: 1;
      transform: scale(1);
    }

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #58595b;
      margin: 0;

      a {
        color: #58595b;
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }

  &__formSend {
    border-radius: 28px;
    background: linear-gradient(180deg, #ff852b 0%, #ff581f 100%);
    padding: 14px 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }
}
