.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(0);
  transition: transform 0.3s ease;

  &__bot {
    transition: padding 0.3s ease;
  }

  &.is-collapsed {
    transform: translateY(-61px);

    .header__bot {
      padding: 5px 0;
    }
  }

  &__top {
    background-color: #f3f3f3;
  }

  &__topWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 12px 0;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__topRight {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 36px;
      height: 36px;
    }

    a {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 15px;
      color: #58595b;
    }
  }

  &__btn {
    border-radius: 28px;
    padding: 8px 18px;
    transition: 0.3s all ease;
    background: linear-gradient(180deg, #ff852b 0%, #ff581f 100%);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }

  &__bottom {
    padding: 20px 0 30px 0;
    background-color: #fff;
  }

  &__bottomWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    width: 160px;
    height: 50px;
  }

  &__menu {
    display: flex;
    gap: 32px;

    li a {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 17px;
      color: #58595b;
    }
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__searchBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 2;
    transition: 0.3s all ease;

    &.active {
      margin-right: 14px;
    }
  }

  &__searchIcon {
    transition: transform 0.3s ease;
  }

  &__searchInp {
    position: absolute;
    right: 0;
    height: 42px;

    width: 420px;
    padding: 10px 45px 10px 18px;

    border-radius: 24px;
    border: 1px solid #e2e2e2;
    background: #f3f3f3;

    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    color: #333;

    outline: none;

    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
    pointer-events: none;

    transition:
      transform 0.35s cubic-bezier(0.77, 0, 0.18, 1),
      opacity 0.25s ease,
      box-shadow 0.3s ease;

    &::placeholder {
      color: #919294;
    }

    &.active {
      transform: scaleX(1);
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__subMenuCont {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #f3f3f3;
    overflow-y: auto;
    padding: 40px 0 50px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__subMenu--close {
    position: absolute;
    right: 35px;
    top: 40px;
    cursor: pointer;
  }

  &__menuSub {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 17px;
      color: #58595b;
    }

    svg {
      transition: 0.3s all ease;

      &.active {
        transform: rotate(180deg);
      }
    }
  }
}

.subMenu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;

  &__title {
    margin-bottom: 8px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 180%;
    text-transform: uppercase;
    color: #58595b;

    &.active {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #f63;
    }
  }

  &__group {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    color: #58595b;

    &.active {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #f63;
    }
  }

  &__list li {
    position: relative;
    padding-left: 10px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100%;
      width: 3px;
      height: 3px;
      background-color: #58595b;
    }

    a {
      transition: 0.3s all ease;
      font-weight: 500;
      font-size: 16px;
      color: #58595b;
    }

    &.active {
      a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #f63;
      }
    }

    &:hover {
      a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #f63;
      }
    }
  }
}
