.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(0);
  transition: transform 0.3s ease;

  &__bot {
    transition: padding 0.3s ease;
  }

  &.is-collapsed {
    transform: translateY(-61px);

    .header__bot {
      padding: 5px 0;
    }
  }

  &__top {
    background-color: #f3f3f3;
  }

  &__topWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 12px 0;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__topRight {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 36px;
      height: 36px;
    }

    a {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 15px;
      color: #58595b;
    }
  }

  &__btn {
    border-radius: 28px;
    padding: 8px 18px;
    transition: 0.3s all ease;
    background: linear-gradient(180deg, #ff852b 0%, #ff581f 100%);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }

  &__bottom {
    padding: 20px 0 30px 0;
    background-color: #fff;
  }

  &__bottomWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    width: 160px;
    height: 50px;
  }

  &__menu {
    display: flex;
    gap: 32px;

    li a {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 17px;
      color: #58595b;
    }
  }

  &__menuSub {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  // &__menuDropdown {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: -moz-max-content;
  //   width: max-content;
  //   max-width: 1000px;
  //   display: grid;
  //   grid-auto-flow: column;
  //   grid-template-rows: repeat(5, auto);
  //   grid-auto-columns: min-content;
  //   gap: 15px 50px;
  //   opacity: 0;
  //   visibility: hidden;
  //   transform: translateY(60px);
  //   transition: 0.3s;
  //   z-index: 10;
  //   padding: 35px;
  //   background-color: #fff;
  //   border: 1px solid #e6ded4;

  //   &.active {
  //     opacity: 1;
  //     visibility: visible;
  //     transform: translateY(30px);
  //   }
  // }

  &__menuLiSvg {
    transition: 0.3s;
    cursor: pointer;

    &.active {
      transform: rotate(180deg);
    }
  }
}
