.bunnert {
  margin-top: 160px;
  padding: 200px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include small-tablet {
    margin-top: 140px;
  }

  @include mobile {
    padding: 80px 0 60px 0;
  }

  &__wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }

  &__title {
    margin-bottom: 30px;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 90%;
    text-align: center;
    color: #fff;

    @include small-tablet {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #f3f3f3;

    @include tablet {
      display: none;
    }
  }
}

.experience {
  margin: 60px 0 80px 0;

  @include small-tablet {
    margin: 25px 0;
  }

  &__wrap {
    display: flex;
    gap: 25px;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: calc(50% - 12.5px);

    @include small-tablet {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 48px;
    line-height: 140%;
    color: #58595b;

    @include small-tablet {
      margin-bottom: 15px;
      font-size: 28px;
    }
  }

  &__desc {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #58595b;

    @include small-tablet {
      font-size: 19px;
    }
  }

  &__border {
    margin-top: auto;
    border-radius: 20px;
    width: 76px;
    height: 4px;
    background-color: #f63;

    @include small-tablet {
      display: none;
    }
  }

  &__cards {
    width: calc(50% - 12.5px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include small-tablet {
      width: 100%;
    }
  }

  &__card {
    width: calc(50% - 10px);
    border-radius: 24px;
    background-color: #f3f3f3;
    padding: 30px 15px 40px 15px;

    @include mobile {
      padding: 20px 20px 30px 20px;
    }
  }

  &__cardTitle {
    margin-bottom: 5px;
    line-height: normal;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: #f63;

    span {
      font-size: 52px;
    }
  }

  &__cardDesc {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #58595b;

    @include mobile {
      font-size: 17px;
    }
  }
}

.services {
  margin: 80px 0;

  @include small-tablet {
    margin: 25px 0 40px 0;
  }

  &__wrap {
    display: flex;
    gap: 30px;
    @include small-tablet {
      flex-direction: column;
    }
  }

  &__line {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    justify-content: space-between;

    @include small-tablet {
      gap: 15px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include small-tablet {
      flex-direction: unset;
    }

    img {
      border-radius: 24px;

      @include small-tablet {
        aspect-ratio: 1/1 !important;
        width: 29%;
      }
    }

    h3 {
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 23px;
      line-height: 150%;
      color: #f63;

      @include small-tablet {
        gap: 0;
        font-size: 20px;

        svg {
          display: none;
        }
      }
    }

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #58595b;

      @include small-tablet {
        display: none;
      }
    }
  }

  &__card--1 img {
    aspect-ratio: 364/368;
  }

  &__card--2 img {
    aspect-ratio: 365/218;
  }

  &__card--3 img {
    aspect-ratio: 364/368;
  }

  &__card--4 img {
    aspect-ratio: 364/227;
  }

  &__card--5 img {
    aspect-ratio: 364/368;
  }

  &__card--6 img {
    aspect-ratio: 364/227;
  }
}

.about {
  @include small-tablet {
    background-color: #f3f3f3;
    padding: 30px 0 40px 0;
  }

  &__wrap {
    position: relative;
    padding: 50px 0 70px 0;
    background-color: #f3f3f3;
    z-index: 1;

    @include small-tablet {
      padding: 0;
      margin-bottom: 30px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100%;
      background-color: #f3f3f3;
      z-index: -1;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }

  &__top {
    display: flex;
    gap: 50px;

    @include tablet {
      flex-direction: column;
      gap: 5px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: calc(50% - 25px);

    @include tablet {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 48px;
    color: #58595b;

    @include small-tablet {
      margin-bottom: 15px;
      font-size: 28px;
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #58595b;

    @include small-tablet {
      font-size: 19px;
    }
  }

  &__desc {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #58595b;
    width: calc(50% - 25px);

    @include tablet {
      width: 100%;
    }

    @include small-tablet {
      font-size: 17px;
    }
  }

  &__border {
    border-radius: 20px;
    width: 76px;
    height: 4px;
    background-color: #f63;

    @include tablet {
      display: none;
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    gap: 50px;
    z-index: 2;
    margin-top: -50px;
    align-items: flex-end;

    @include tablet {
      flex-direction: column;
      margin: 0;
    }

    @include tablet {
      gap: 30px;
    }
  }

  &__video {
    position: relative;
    width: calc(50% - 25px);

    @include tablet {
      width: 100%;
    }
  }

  &__videoPlay {
    position: absolute;
    width: 67px;
    height: 67px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__video–°over {
    @include tablet {
      width: 100%;
    }
  }

  &__list {
    width: calc(50% - 25px);
    @include tablet {
      width: 100%;
    }
  }

  &__listUl {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 35px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      color: #58595b;

      @include tablet {
        font-size: 17px;
      }
    }
  }

  &__listVector {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: linear-gradient(180deg, #ff852b 0%, #ff581f 100%);
  }

  &__link {
    display: block;
    max-width: 130px;
    text-align: center;
    background: linear-gradient(180deg, #ff852b 0%, #ff581f 100%);
    border-radius: 28px;
    padding: 14px 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    transition: 0.3s all ease;

    @include tablet {
      display: block;
      margin: 0 auto;
      width: 80%;
      max-width: 100%;
    }
  }
}

.slogan {
  margin: 80px 0;

  @include small-tablet {
    margin: 60px 0 40px 0;
  }

  &__wrap {
    border-radius: 24px;
    padding: 95px 75px 80px 75px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include small-tablet {
      padding: 55px 20px 52px 20px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-family: var(--third-family);
    line-height: normal;
    font-weight: 400;
    font-size: 44px;
    color: #ffebe9;
    max-width: 420px;

    @include small-tablet {
      font-size: 28px;
      margin-bottom: 55px;
    }

    span {
      text-transform: uppercase;
    }
  }

  &__btn {
    border-radius: 28px;
    padding: 14px 20px;
    background: linear-gradient(180deg, #ff852b 0%, #ff581f 100%);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }
}

.results {
  margin: 80px 0 60px 0;

  @include small-tablet {
    margin: 40px 0 50px 0;
  }

  &__title {
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 48px;
    color: #58595b;

    @include small-tablet {
      font-size: 28px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    margin-bottom: 50px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #58595b;

    @include small-tablet {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__border {
    border-radius: 20px;
    width: 76px;
    height: 4px;
    background-color: #f63;

    @include small-tablet {
      display: none;
    }
  }

  &__cards {
    margin: 60px 0 32px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include small-tablet {
      margin: 0 0 20px 0;
    }
  }

  &__card {
    width: calc(50% - 10px);
    border: 1px solid #d9dce2;
    border-radius: 24px;
    padding: 18px 24px 24px 24px;

    @include small-tablet {
      width: 100%;
    }
  }

  &__cardTitle {
    margin-bottom: 25px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #58595b;
  }

  &__cardImages {
    display: flex;
    gap: 8px;
  }

  &__cardImage {
    position: relative;
    width: calc(50% - 4px);

    img {
      aspect-ratio: 1/1;
    }
  }

  &__cardImageP {
    position: absolute;
    user-select: none;
    left: 8px;
    top: 8px;
    border-radius: 24px;
    padding: 7px 16px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    background-color: #f2997d;
  }

  &__all {
    border: 1px solid #f63;
    border-radius: 28px;
    background-color: #fff;
    padding: 14px 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #f63;
  }
}

.magazine {
  margin: 80px 0;

  @include small-tablet {
    margin: 40px 0;
  }

  &__title {
    margin-bottom: 35px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 48px;
    color: #58595b;

    @include small-tablet {
      margin-bottom: 25px;
      font-size: 20px;
    }
  }

  &__swiper {
    margin-bottom: 32px;
    @include small-tablet {
      margin-bottom: 25px;
    }
  }

  &__card {
    border-radius: 24px;
    position: relative;

    img {
      aspect-ratio: 268/320;
      filter: brightness(75%);
    }

    p {
      position: absolute;
      left: 20px;
      max-width: 225px;
      bottom: 20px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 110%;
      color: #ffeaea;

      @include small-tablet {
        left: 12px;
        font-size: 17px;
      }
    }
  }

  &__link {
    display: block;
    width: fit-content;
    padding: 14px 20px;
    border: 1px solid #f63;
    border-radius: 28px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #f63;

    @include small-tablet {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      font-size: 16px;
    }
  }
}

.swiper__tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.swiper-tab {
  flex: 1;
  min-width: 50px;
  max-width: 74px;
  height: 4px;
  border-radius: 20px;
  background-color: #e5e0e0;
  cursor: pointer;
  transition: 0.3s;
}

.swiper-tab {
  &.active {
    background-color: #f63;
  }
}

.main__hr {
  margin: 60px 0;
  height: 1px;
  border: none;
  background-color: #d9d9d9;

  @include small-tablet {
    display: none;
  }
}

.cookie {
  border: 1px solid #d2d2d2;
  background-color: #e3e3e3;
  position: fixed;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  display: none;

  &.active {
    visibility: visible;
    opacity: 1;
    display: flex;
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  &__btn {
    padding: 8px 18px;
    border-radius: 24px;
    background-color: #ff815a;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }

  p {
    max-width: 660px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #58595b;
  }
}
