.news {
  margin: 80px 0;

  &__title {
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 48px;
    color: #58595b;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
  }

  &__card {
    width: calc((100% - 40px) / 3);

    img {
      border-radius: 24px;
      aspect-ratio: 364/256;
    }
  }

  &__cardDate {
    margin-bottom: 5px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #58595b;
  }

  &__cardPreview {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #58595b;

    span {
      font-weight: 700;
    }
  }

  &__all {
    display: block;
    width: fit-content;
    margin-top: 32px;
    border: 1px solid #f63;
    border-radius: 28px;
    background-color: #fff;
    padding: 14px 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #f63;
  }
}
