.promotions {
  margin: 80px 0;

  @include small-tablet {
    margin: 40px 0;
  }

  &__title {
    margin-bottom: 55px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 48px;
    color: #58595b;

    @include small-tablet {
      font-size: 28px;
      margin-bottom: 15px;
    }
  }

  &__tabs {
    @include small-tablet {
      display: none;
    }
  }

  &__card {
    aspect-ratio: 559/352;
    border-radius: 24px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 35px 30px 30px 30px;

    @include small-tablet {
      padding: 30px 15px 35px 15px;
    }
  }

  &__cardTitle {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #ff802a;

    @include small-tablet {
      font-size: 24px;
      margin-bottom: 10px;
    }

    span {
      font-size: 60px;

      @include small-tablet {
        font-size: 44px;
      }
    }
  }

  &__cardSubtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #58595b;
    max-width: 280px;

    @include small-tablet {
      font-size: 18px;
    }
  }
}
