<section class="quest">
  <div class="container">
    <div class="quest__wrap">
      <div class="quest__info">
        <div class="quest__text">
          <h2 class="quest__title">Остались вопросы?</h2>
          <p class="quest__subtitle">
            Наши специалисты с удовольствием помогут. Напишите нам — подберём
            подходящее решение и расскажем всё подробнее.
            <br />
            <br />
            Поможем разобраться во всех деталях и выбрать оптимальное решение
            именно для вас.
          </p>
        </div>
        <div class="quest__contacts">
          <a href="tel:+7 (495) 292-73-93" class="quest__phone">
            <img src="img/icons/phone.svg" alt="" />+7 (495) 292-73-93</a
          >
          <div class="quest__socials">
            <a href="#"><img src="img/icons/whatsapp-fon.svg" alt="" /></a>
            <a href="#"><img src="img/icons/tg-fon.svg" alt="" /></a>
            <a href="#"><img src="img/icons/vk-fon.svg" alt="" /></a>
            <a href="#"><img src="img/icons/ok-fon.svg" alt="" /></a>
          </div>
        </div>
      </div>
      <div class="quest__form">
        <h3 class="quest__formTitle">Форма обратной связи</h3>
        <div class="quest__formInputs">
          <input type="name" placeholder="Ваше имя" class="quest__formInput" />
          <input
            type="phone"
            placeholder="Номер телефона"
            class="quest__formInput"
          />
          <input type="email" placeholder="E-mail" class="quest__formInput" />
          <input
            type="text"
            placeholder="Комментарий"
            class="quest__formInput"
          />
        </div>
        <div class="quest__checkBlock">
          <label class="custom-checkbox">
            <input type="checkbox" />
            <span class="checkbox-box">
              <svg
                width="11"
                height="9"
                viewBox="0 0 11 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 3.15024L4.68344 8L10 0.999999"
                  stroke="#FF6633"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <p>
              Согласен с <a href="#">политикой конфиденциальности</a> и даю
              согласие на обработку персональных данных.
            </p>
          </label>
        </div>

        <button class="quest__formSend btn-reset" type="submit">
          Отправить сообщение
        </button>
      </div>
    </div>
  </div>
</section>
