<section class="news">
  <div class="container">
    <h2 class="news__title">Новости клиники</h2>
    <div class="news__cards">
      <div class="news__card">
        <img src="img/news/1.png" alt="" />
        <p class="news__cardDate">15 октября 2025</p>
        <p class="news__cardPreview">
          <span>Volite:</span> инновационный филлер для увлажнения и сияния кожи
        </p>
      </div>
      <div class="news__card">
        <img src="img/news/2.png" alt="" />
        <p class="news__cardDate">15 октября 2025</p>
        <p class="news__cardPreview">
          <span>Sculptra:</span> новая эпоха естественного омоложения
        </p>
      </div>
      <div class="news__card">
        <img src="img/news/3.png" alt="" />
        <p class="news__cardDate">15 октября 2025</p>
        <p class="news__cardPreview">
          <span>Ultraformer:</span> безоперационное моделирование лица и тела
        </p>
      </div>
    </div>
    <a href="#" class="news__all">Все новости клиники</a>
  </div>
</section>
