<section class="promotions">
  <div class="container">
    <h2 class="promotions__title">Акции в нашей клинике</h2>

    <div class="promotions__tabs swiper__tabs"></div>

    <div class="swiper promotions__swiper">
      <div class="swiper-wrapper">
        <a
          href="#"
          class="swiper-slide promotions__card"
          style="background-image: url(img/promotions-1.png)"
        >
          <h3 class="promotions__cardTitle">Скидка <span>10%</span></h3>
          <p class="promotions__cardSubtitle">
            при первом визите в клинику БиКод
          </p>
        </a>

        <a
          href="#"
          class="swiper-slide promotions__card"
          style="background-image: url(img/promotions-2.png)"
        >
          <h3 class="promotions__cardTitle">Скидка <span>10%</span></h3>
          <p class="promotions__cardSubtitle">
            за фотоотзыв о работе клиники БиКод
          </p>
        </a>

        <a
          href="#"
          class="swiper-slide promotions__card"
          style="background-image: url(img/promotions-1.png)"
        >
          <h3 class="promotions__cardTitle">Скидка <span>10%</span></h3>
          <p class="promotions__cardSubtitle">
            при первом визите в клинику БиКод
          </p>
        </a>

        <a
          href="#"
          class="swiper-slide promotions__card"
          style="background-image: url(img/promotions-2.png)"
        >
          <h3 class="promotions__cardTitle">Скидка <span>10%</span></h3>
          <p class="promotions__cardSubtitle">
            за фотоотзыв о работе клиники БиКод
          </p>
        </a>

        <a
          href="#"
          class="swiper-slide promotions__card"
          style="background-image: url(img/promotions-1.png)"
        >
          <h3 class="promotions__cardTitle">Скидка <span>10%</span></h3>
          <p class="promotions__cardSubtitle">
            при первом визите в клинику БиКод
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
