<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Пациенты о нас</h2>
    <div class="reviews__tabs swiper__tabs"></div>
    <div class="swiper reviews__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__card">
          <div class="reviews__cardFlex">
            <div class="reviews__cardLeft">
              <h4>Татьяна</h4>
              <div class="reviews__stars">
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
            <p class="reviews__date">01.04.2025</p>
          </div>
          <p class="reviews__content">
            Хочу выразить огромную благодарность Клавдии
            Вячеславовне.Профессионал высокого уровня, и к тому же прекрасной
            души человек.Всегда разъяснит суть проводимой процедуры,даст
            совет,ответит на все вопросы.Доверяя свое лицо Клавдии
            Вячеславовне,я еле сдерживаюсь,чтобы не улыбаться во весь рот,потому
            что знаю,что уйду от нее помолодевшая и похорошевшая. Спасибо
            Вам,Мастер-золотые ручки!
          </p>
          <div class="reviews__specialists">
            <div class="reviews__specCard">
              <img src="img/reviews-spec.png" alt="" />
              <p class="reviews__specName">Орлова К. В.</p>
            </div>
          </div>
          <a href="#" class="reviews__link">Оригинал отзыва</a>
        </div>
        <div class="swiper-slide reviews__card">
          <div class="reviews__cardFlex">
            <div class="reviews__cardLeft">
              <h4>Татьяна</h4>
              <div class="reviews__stars">
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
            <p class="reviews__date">01.04.2025</p>
          </div>
          <p class="reviews__content">
            Хочу выразить огромную благодарность Клавдии
            Вячеславовне.Профессионал высокого уровня, и к тому же прекрасной
            души человек.Всегда разъяснит суть проводимой процедуры,даст
            совет,ответит на все вопросы.Доверяя свое лицо Клавдии
            Вячеславовне,я еле сдерживаюсь,чтобы не улыбаться во весь рот,потому
            что знаю,что уйду от нее помолодевшая и похорошевшая. Спасибо
            Вам,Мастер-золотые ручки!
          </p>
          <div class="reviews__specialists">
            <div class="reviews__specCard">
              <img src="img/reviews-spec.png" alt="" />
              <p class="reviews__specName">Орлова К. В.</p>
            </div>
          </div>
          <a href="#" class="reviews__link">Оригинал отзыва</a>
        </div>
        <div class="swiper-slide reviews__card">
          <div class="reviews__cardFlex">
            <div class="reviews__cardLeft">
              <h4>Татьяна</h4>
              <div class="reviews__stars">
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  width="14"
                  height="13"
                  viewBox="0 0 14 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.65739 0L8.63235 4.2817L13.3148 4.83688L9.85294 8.0383L10.7719 12.6631L6.65739 10.36L2.5429 12.6631L3.46184 8.0383L-1.43051e-06 4.83688L4.68244 4.2817L6.65739 0Z"
                    fill="url(#paint0_linear_128_102)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_128_102"
                      x1="6.65739"
                      y1="0"
                      x2="6.65739"
                      y2="14"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF852B" />
                      <stop offset="1" stop-color="#FF581F" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
            <p class="reviews__date">01.04.2025</p>
          </div>
          <p class="reviews__content">
            Хочу выразить огромную благодарность Клавдии
            Вячеславовне.Профессионал высокого уровня, и к тому же прекрасной
            души человек.Всегда разъяснит суть проводимой процедуры,даст
            совет,ответит на все вопросы.Доверяя свое лицо Клавдии
            Вячеславовне,я еле сдерживаюсь,чтобы не улыбаться во весь рот,потому
            что знаю,что уйду от нее помолодевшая и похорошевшая. Спасибо
            Вам,Мастер-золотые ручки!
          </p>
          <div class="reviews__specialists">
            <div class="reviews__specCard">
              <img src="img/reviews-spec.png" alt="" />
              <p class="reviews__specName">Орлова К. В.</p>
            </div>
            <div class="reviews__specCard">
              <img src="img/reviews-spec.png" alt="" />
              <p class="reviews__specName">Орлова К. В.</p>
            </div>
            <div class="reviews__specCard">
              <img src="img/reviews-spec.png" alt="" />
              <p class="reviews__specName">Орлова К. В.</p>
            </div>
            <div class="reviews__specCard">
              <img src="img/reviews-spec.png" alt="" />
              <p class="reviews__specName">Орлова К. В.</p>
            </div>
            <div class="reviews__specCard">
              <img src="img/reviews-spec.png" alt="" />
              <p class="reviews__specName">Орлова К. В.</p>
            </div>
          </div>
          <a href="#" class="reviews__link">Оригинал отзыва</a>
        </div>
      </div>
    </div>
    <a href="#" class="reviews__allLink">Оригинал отзыва</a>
  </div>
</section>
