<section class="specialists">
  <div class="container">
    <h2 class="specialists__title">Наши специалисты</h2>
    <div class="specialists__tabs swiper__tabs"></div>

    <div class="swiper specialists__swiper">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide specialists__card">
          <img src="img/specialists/baryshnikov.png" alt="" />
          <h3 class="specialists__cardName">
            <span>Барышников</span><br />
            Игорь Владимирович
          </h3>
          <p class="specialists__cardDesc">
            Пластический хирург <br />
            Врач - косметолог <br />
            Кандидат медицинских наук <br />
            Врач - челюстно-лицевой хирург <br />
            Генеральный директор <br />
            Клиники БиКод
          </p>
        </a>
        <a href="#" class="swiper-slide specialists__card">
          <img src="img/specialists/pucilo.png" alt="" />
          <h3 class="specialists__cardName">
            <span>Валиев</span><br />
            Умид Джасурбекович
          </h3>
          <p class="specialists__cardDesc">
            Пластический хирург <br />
            Кандидат медицинских наук
          </p>
        </a>
        <a href="#" class="swiper-slide specialists__card">
          <img src="img/specialists/tlatova.png" alt="" />
          <h3 class="specialists__cardName">
            <span>Пуцилло</span><br />
            Сергей Павлович
          </h3>
          <p class="specialists__cardDesc">
            Челюстно-лицевой хирург <br />Пластический хирург
          </p>
        </a>
        <a href="#" class="swiper-slide specialists__card">
          <img src="img/specialists/valiev.png" alt="" />
          <h3 class="specialists__cardName">
            <span>Тлатова</span><br />
            Татьяна Амзоровна
          </h3>
          <p class="specialists__cardDesc">
            Врач-дерматолог <br />
            Врач-косметолог
          </p>
        </a>
        <a href="#" class="swiper-slide specialists__card">
          <img src="img/specialists/baryshnikov.png" alt="" />
          <h3 class="specialists__cardName">
            <span>Барышников</span><br />
            Игорь Владимирович
          </h3>
          <p class="specialists__cardDesc">
            Пластический хирург <br />
            Врач - косметолог <br />
            Кандидат медицинских наук <br />
            Врач - челюстно-лицевой хирург <br />
            Генеральный директор <br />
            Клиники БиКод
          </p>
        </a>
        <a href="#" class="swiper-slide specialists__card">
          <img src="img/specialists/pucilo.png" alt="" />
          <h3 class="specialists__cardName">
            <span>Валиев</span><br />
            Умид Джасурбекович
          </h3>
          <p class="specialists__cardDesc">
            Пластический хирург <br />
            Кандидат медицинских наук
          </p>
        </a>
        <a href="#" class="swiper-slide specialists__card">
          <img src="img/specialists/tlatova.png" alt="" />
          <h3 class="specialists__cardName">
            <span>Пуцилло</span><br />
            Сергей Павлович
          </h3>
          <p class="specialists__cardDesc">
            Челюстно-лицевой хирург <br />Пластический хирург
          </p>
        </a>
        <a href="#" class="swiper-slide specialists__card">
          <img src="img/specialists/valiev.png" alt="" />
          <h3 class="specialists__cardName">
            <span>Тлатова</span><br />
            Татьяна Амзоровна
          </h3>
          <p class="specialists__cardDesc">
            Врач-дерматолог <br />
            Врач-косметолог
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
