:root {
  // base
  --font-family: "Raleway", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Intro Book", sans-serif;
  --font3: "Arimo", sans-serif;
  --content-width: 1174px;
  --container-offset: 20px;
  --container-width: var(--content-width);
}
