// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/main-page";
@import "./components/promotions";
@import "./components/specialists";
